*{
    box-sizing: border-box;
}

body{
    background-color: black;
}
.cart {
    color: whitesmoke;
}
.cart-status {
    color: whitesmoke;
}
.catalog{
    color: whitesmoke;
}
h2 {
    color: whitesmoke;
}