*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.cart {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.catalog ul {
    list-style: none;
    padding: 0;
}
.catalog li {
    margin: 10px 0;
}
.catalog a {
    margin-right: 10px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}